<app-navbar></app-navbar>

<header class="py-5 bg-image-full" >
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="../../../assets/images/pexels-lisa-fotios-1472841.jpg" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Tienda <em>Libros & Café</em> </h1>
        <p class="text-white-50 mb-0">Servirte es un gusto</p>
    </div>
</header>
<!-- Content section-->
<section class="py-5 bg-secundary ">
   
    <div class="container  my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>FRASE DE LA SEMANA</h2>
                <p class="lead">La lectura debe ser una de las formas de la felicidad, y no se puede obligar a nadie a ser feliz.</p>
                <p class="mb-0"><em>Jorge Luis Borgues </em></p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full img2">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 25rem"></div>
</div>
<!-- Content section-->
<section class=" py-5 page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">escritores del mes</h2>
            <h3 class="section-subheading text-muted">Votados en el mes de enero</h3>
        </div>
        <div class="row ">
            <div class="col-lg-4  " style="text-align: center;">
                <div class="team-member">
                    <img class="mx-auto imag rounded-circle" src="https://www.biografiasyvidas.com/reportaje/garcia_marquez/fotos/garcia_marquez_420a.jpg" alt="..." />
                    <h4>Gabriel Garcia Marquez</h4>
                    <p class="text-muted"> Realismo mágico</p>
                    
                </div>
            </div>
            <div class="col-lg-4" style="text-align: center;">
                <div class="team-member">
                    <img class="mx-auto imag rounded-circle" src="https://images.gr-assets.com/authors/1608906571p8/15872.jpg" alt="..." />
                    <h4>Rick Riordan</h4>
                    <p class="text-muted">Fantasía, novela negra</p>
                    
                </div>
            </div>
            <div class="col-lg-4" style="text-align: center;">
                <div class="team-member">
                    <img class="mx-auto imag rounded-circle" src="https://static.tvtropes.org/pmwiki/pub/images/danbrown1.jpg" alt="..." />
                    <h4>Dan Brown</h4>
                    <p class="text-muted">Novela</p>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Los escritores publicados aquí fueron elegidos atraves de una encuesta en nuestra tienda física, si quieres participar no dudes en visitarnos.</p></div>
        </div>
    </div>
</section>


<app-footer></app-footer>


